* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    
    width: 100vw;
}

header {
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-link a{
    text-decoration: none;
    color: white;
}

.nav-link a:hover{
    transition: 0.3s;
    color: rgb(41, 214, 41);
}

.nav-main {
    color: green;
    font-size: 37px;
    font-family: 'Roboto Mono', monospace;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.first img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.front-text {
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 30px;
    height: 210px;
    width: 700px;
    margin-top: 250px;
}

.main-text {
    font-size: 100px;
    color: white;
    padding-left: 80px;
}

.change-main-text {
    color: green;
    font-family: 'Roboto Mono', monospace;
}

.sub-text {
    font-size: 30px;
    color: white;
    padding-left: 80px;
}

.second {
    padding-top: 200px;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    background-color: white;
    transition: 0.4s;
    width: 300px;
    border-radius: 20px;
}
.card img {
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
  
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(7, 237, 7, 0.778);
}
  
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
}

.card-text-container {
    padding: 10px;
}

.card-text-container p {
    font-size: 13px;
    margin-top: 20px;
}

.card-button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card-button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.card-button-container a:hover {
    cursor: pointer;
    background-color: darkgreen;
    color: black;
    text-decoration: none;
}

.card-button {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-button:hover {
    cursor: pointer;
    background-color: rgb(33, 210, 33);
    color: black;
    font-weight: bolder;
    border: none;
}

.third {
    padding-top: 200px;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.logo-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100vw;
}

.logo-container h2{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 80px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo img{
    height: 150px;
    width: 180px;
}

.fourth {
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.form-container {
    height: 530px;
    width: 355px;
    border-radius: 20px;
    background-color: white;
    margin-left: 40%;
    box-shadow: 15px 15px 30px 5px black;
}

.form-title {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 50px;
    width: 650px;
    box-shadow: 10px;
    z-index: 1;
}

input, textarea {
    border: 2px solid black;
    padding: 10px;
    background-color: ghostwhite;
}

input {
    height: 40px;
    width: 250px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid grey;
}

label {
    font-weight: 500;
}

.message-label {
    margin-left: 10px;
    margin-top: 30px;
}

textarea {
    border: none;
    border-radius: 20px;
    border: 1px solid grey;
    height: 150px;
    width: 250px;
    font-size: 12px;
    padding: 10px 20px 0px 20px;
}

.send-button {
    background-color: #2f861cc5;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
}

.send-button:hover {
    background-color: rgba(18, 102, 50, 0.839);
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Sarabun', sans-serif;
    height: 120px;
    font-size: 20px;
    color: white;
    width: 100vw;
}

@media screen and (max-width:575px) {
    .nav-container {
        display: flex;
        justify-content: center;
        width: 375px;
    }

    .nav-main {
        font-size: 23px;
    }

    .nav-link {
        font-size: 10px;
        margin: 15px;
    }

    .front-text {
        left: 20px;
        margin-top: 120px;
        width: 100vw;
    }

    .main-text {
        font-size: 50px;
        padding-left: 50px;
        width: 200px;
    }

    .sub-text {
        font-size: 13px;
        margin-left: 10px;
        width: 300px;
    }

    .first{
        height: 300px;
    }

    .first img {
        height: 301px;
    }

    .second {
        background-color: black;
        height: 1150px;
        width: 100vw;
    }

    .card-container {
        flex-direction: column;
        margin-left: 90px;
        width: 200px;
        top: 320px;
    }

    .card {
        height: 325px;
        width: 200px;
        margin-top: 20px;
    }

    .card img{
        height: 140px;
    }

    .card-text-container {
        font-size: 10px;
    }

    .card-text-container p {
        font-size: 12px;
        margin-top: 5px;
    }

    .third {
        height: 850px;
        background-color: black;
    }

    .logo-container {
        top: 1500px;
        width: 100vw;
    }

    .logo-container h2 {
        margin-bottom: 10px;
    }

    .logo {
        flex-direction: column;
        width: 100vw;
    }

    .logo img {
        height: 100px;
        margin-top: 30px;
        width: 110px;
    }
    .fourth {
        background-color: black;
    }

    .form-container {
        height: 550px;
        width: 320px;
        border-radius: 20px;
        background-color: white;
        margin-left: 20px;
        box-shadow: 15px 15px 30px 5px black;
    }
    
    .form-title {
        font-size: 25px;
        margin-left: 30px;
        margin-top: 50px;
    }
    
    form {
        padding-left: 30px;
        width: 650px;
        box-shadow: 10px;
        z-index: 1;
    }
    
    input, textarea {
        border: 2px solid black;
        padding: 10px;
        background-color: ghostwhite;
    }
    
    input {
        height: 40px;
        width: 200px;
        margin-top: 20px;
        font-size: 10px;
        border-radius: 10px;
        border: 1px solid grey;
    }
    
    label {
        font-weight: 500;
    }
    
    .message-label {
        font-size: 15px;
        width: 200px;
        margin-left: 10px;
        margin-top: 30px;
    }
    
    textarea {
        border: none;
        border-radius: 20px;
        border: 1px solid grey;
        height: 150px;
        width: 250px;
        font-size: 12px;
        padding: 10px 20px 0px 20px;
    }
    
    .send-button {
        width: 250px;
        font-size: 15px;

    }

    footer {
        font-size: 15px;
    }
}
